* {
    margin: 0;
    padding: 0;
}

.center { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    padding-top: 12%;
    margin-bottom: 1%;
}

.SearchCenter { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    padding-top: 50px;
}
.SearchCenter div {
    width: 30vw;
    border-radius: 50px;
    border: 2px solid lightgray;
    height: 100%;
    
}
.SearchCenter i {
    padding-left: 2%;
    margin-right: 4%;
    padding-top: 2%;
    transform: scale(1.2);
}
.SearchCenter input  {
    width: 85%;
    border: none;
    
}

.centerButtons { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.btnSpacing {
    margin-left: 2%;
}   

nav li a {
    color: black;
    font-size: 16px;

}
footer li a {
    color: black;
    
}

#img-container img{
    transform: scale(1.1);
}

input {
    outline: none;
    font-size: large;
}

form :hover {
    transform: scale(1.1);
}